@model Parcial2_AriasRoldanNatalia.Models.EditViewModel

<h1>Registrar ingreso</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="IdTicket" />
            <div class="d-flex justify-content-center">
                <div class="d-grid gap-3 col-10 mx-auto">
                    <label for="entrance" class="form-label">Por favor seleccione la portería de ingreso:</label>
                    <select asp-for="selectedEntrance" class="form-select" id="selectedEntrance" name="selectedEntrance" aria-label="Default select example">
                        @foreach (var opcion in Model.Entrances)
                        {
                            <option value="@opcion.id">@opcion.Name</option>
                        }
                    </select>
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
